{
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"jsx": true,
		"useJSXTextNode": true,
		"ecmaVersion": 2020,
		"sourceType": "module",
		"project": "./tsconfig.json"
	},
	"ignorePatterns": [
		"/out",
		"/types",
		"/migration"
	],
	"plugins": [
		"@typescript-eslint",
		"@typescript-eslint/eslint-plugin",
		"deprecation",
		"no-autofix",
		"prettier",
		"roblox-ts",
		"simple-import-sort",
		"unused-imports"
	],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended-type-checked",
		"plugin:@typescript-eslint/stylistic-type-checked",
		"plugin:prettier/recommended",
		"plugin:roblox-ts/recommended"
	],
	"rules": {
		"@typescript-eslint/array-type": [
			"warn",
			{
				"default": "generic",
				"readonly": "generic"
			}
		],
		"@typescript-eslint/no-floating-promises": [
			"error",
			{
				"ignoreVoid": true
			}
		],
		"@typescript-eslint/no-unused-vars": "warn",
		"deprecation/deprecation": "warn",
		"no-autofix/prefer-const": "warn",
		"no-constant-condition": [
			"error",
			{
				"checkLoops": false
			}
		],
		"no-unused-vars": [
			"warn",
			{
				"varsIgnorePattern": "^_",
				"argsIgnorePattern": "^_"
			}
		],
		"prefer-const": "off",
		"prettier/prettier": "warn",
		"roblox-ts/no-private-identifier": "off",
		"simple-import-sort/exports": "warn",
		"simple-import-sort/imports": "warn",
		"unused-imports/no-unused-imports": "warn"
	},
	"@typescript-eslint/naming-convention": [
		"error",
		{
			"selector": "default",
			"format": [
				"camelCase"
			]
		},
		{
			"selector": "variable",
			"format": [
				"camelCase",
				"UPPER_CASE"
			]
		},
		{
			"selector": "parameter",
			"format": [
				"camelCase"
			],
			"leadingUnderscore": "allow"
		},
		{
			"selector": "memberLike",
			"modifiers": [
				"private"
			],
			"format": [
				"camelCase"
			]
			//   "leadingUnderscore": "require"
		},
		{
			"selector": "typeLike",
			"format": [
				"PascalCase"
			]
		}
	]
}
