{
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"jsx": true,
		"useJSXTextNode": true,
		"ecmaVersion": 2018,
		"sourceType": "module",
		"project": "./tsconfig.json"
	},
	"ignorePatterns": ["/out", "/types", "/migration"],
	"plugins": [
		"@typescript-eslint",
		"roblox-ts",
		"prettier",
		"unused-imports",
		"simple-import-sort"
	],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended-type-checked",
	  	"plugin:@typescript-eslint/stylistic-type-checked",
		"plugin:prettier/recommended",
		"plugin:roblox-ts/recommended"
	],
	"rules": {
		"@typescript-eslint/array-type": ["error", { "default": "generic" }],
		"prettier/prettier": "warn",
		"roblox-ts/no-private-identifier": "off",
		"simple-import-sort/exports": "warn",
		"simple-import-sort/imports": "warn",
		"unused-imports/no-unused-imports": "warn",
        "no-unused-vars": ["warn", { "varsIgnorePattern": "^_", "argsIgnorePattern": "^_" }]
	},
	"@typescript-eslint/naming-convention": [
		"error",
		{
	  		"selector": "default",
	  		"format": ["camelCase"]
		},
		{
	  		"selector": "variable",
	  		"format": ["camelCase", "UPPER_CASE"]
		},
		{
	  		"selector": "parameter",
	  		"format": ["camelCase"],
	  		"leadingUnderscore": "allow"
		},
		{
	  		"selector": "memberLike",
	  		"modifiers": ["private"],
	  		"format": ["camelCase"]
	  	//   "leadingUnderscore": "require"
		},
		{
	  		"selector": "typeLike",
	  		"format": ["PascalCase"]
		}
	]
}
