# Project place files
/.rbxl
/.rbxlx

# Roblox Studio lock files
/*.rbxl.lock
/*.rbxlx.lock

# Wally lockfile
wally.lock

# Wally packages
Packages
ServerPackages

# Rojo
rojo*.exe
sourcemap.json

# Miscellaneous
*.tsbuildinfo
*.zip
/.agf
#/.vscode
/build
/include
/out
.DS_Store
node_modules
package*
packages
packages/*/Packages
yarn-error.log
